<div class="chatbot-container">
    <button class="chatbot-button" (click)="toggleChat()" *ngIf="!isOpen">
        <img src="/teknocan_arrow.png" alt="Chatbot Teknocan" class="chatbot-icon"/>
    </button> 

    <div class="chatbot-panel" *ngIf="isOpen">
        <div class="chatbot-header" (click)="toggleChat()">
            <div class="header-info">
                <img src="/teknocan_arrow.png" alt="Teknocan" class="header-icon" />
                <span>Teknocan Destek</span>
            </div>
            <button class="close-btn">✖</button>
        </div>

        <div class="chatbot-body" #scrollMe>
            <div class="messages">
                <div *ngFor="let msg of messages" class="message" 
                [ngClass]="{'user-message': msg.sender === 'user', 'bot-message': msg.sender === 'bot'}">
                {{msg.text}}
                </div>

                <div class="message bot-message typing-indicator" *ngIf="isTyping">
                    <span>.</span><span>.</span><span>.</span>
                </div>
            </div>
        </div>

        <form class="chatbot-footer" (submit)="sendMessage($event)">
            <input type="text"
            [(ngModel)]="userInput"
            name="message"
            placeholder="Mesajınızı yazın..."
            autocomplete="off"
            required/>

            <button type="submit" [disabled]="!userInput.trim() || isTyping">Gönder</button>
        </form>
    </div>
</div>